@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-color: white;
}

.bg-gg-secondary {
  background-color: #d9e7c9;
}

.bg-gg-primary {
  background-color: #346b12;
}

.text-gg-primary {
  color: #346b12;
}

.text-gg-secondary {
  color: #152c07;
}

@media (min-width: 768px) {
  .md-bg-gg-half {
    background: linear-gradient(to bottom, #d9e7c9 35rem, transparent 0);
  }
}

@media (max-width: 767px) {
  .bg-gg-half {
    background: linear-gradient(to bottom, #d9e7c9 60rem, transparent 0);
  }
}
